html, body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

.footer-bar {
    background: linear-gradient(to bottom, #5F86FC, turquoise);
    position:absolute; 
    bottom:0; 
    height:50px; 
    width:100%;
    box-shadow: 0px -4px rgba(0, 247, 255, 0.163)
}

.flex-container{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-container .flex-header{
    flex: 0 1 auto;
    background: #7e8aa0;
}
.flex-container .flex-content{
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: 100%;
}

.flex-container .footer{
    position:absolute;
    bottom:0;
    width:100%;
    z-index:10;
}
