html, body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

.footer-bar {
    background: linear-gradient(to bottom, #5F86FC, rgb(2, 2, 46));
    position:absolute; 
    bottom:0; 
    height:50px; 
    width:100%;
    box-shadow: 0px -2px rgba(0, 247, 255, 0.163)
}

.flex-container{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-container .flex-header{
    flex: 0 1 auto;
    background: #7e8aa0;
}
.flex-container .flex-content{
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: 100%;
}

.flex-container .footer{
    position:absolute;
    bottom:0;
    width:100%;
    z-index:10;
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.wave-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300%;
    transform: rotate(-15deg);
    overflow: hidden;
    position: absolute;
    width: 300%;
    left: -10%;
    top: 0%;
}

.wave-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300%;
    transform: rotate(150deg);
    overflow: hidden;
    position: absolute;
    width: 300%;
    left: -180%;
    top: -200%;
    animation-delay: 0.6s;
}


.wave {
    width: 60%;
    height: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: deepskyblue;
    animation: wave 14s ease-in-out infinite;
    position: absolute;
}

.wave:nth-child(1) {
    animation-delay: 1s;
    background: linear-gradient(to top, rgb(3, 161, 213), rgba(35, 71, 232, 0.259));
    z-index: 5;
}

.wave:nth-child(2) {
    animation-delay: 2s;
    background: linear-gradient(to top, dodgerblue, rgba(37, 77, 210, 0.322));
    z-index: 4;
}

.wave:nth-child(3) {
    animation-delay: 3s;
    background: linear-gradient(to top, royalblue, rgba(57, 74, 183, 0.5));
    z-index: 3;
}

.wave:nth-child(4) {
    animation-delay: 4s;
    background: linear-gradient(to top, mediumblue, rgba(73, 58, 159, 0.5));
    z-index: 2;
}

.wave:nth-child(5) {
    animation-delay: 5s;
    background: linear-gradient(to top, navy, rgba(93, 28, 223, 0.541));
    z-index: 1;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
}

.logincover {
    background-color: rgb(2, 2, 46);
}