.drawer-container {
    width:100%;
    overflow: hidden;
    /* position: absolute;
    top: 0;
    transform: translateY(-100%); */
}

.arrow-button {
    border: 2px solid black;
    padding: 2px;
    padding-left:10px;
    padding-right:10px;
    background-color: white;
    width:100%;
    white-space: nowrap;
    transform: translateY(2px);
}

.arrow-button-up {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0px;
}

.arrow-button-down {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-width: 0px;
}

.drawer-content {
    padding: 10px;
    width: 100%;
    max-height: 50vh;
    background-color: white;
    overflow-y: auto;
    border-top:4px solid black;
    box-shadow: 0px -30px rgba(0,0,0,0.2);
}